#subject {
  background-color: #f0f1f3;
  height: auto;
  user-select: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
}
#firstSubjectHeaderDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 5em;
}
#firstSubjectHeaderDiv h1 {
  color: #000000;
  font-size: 1.7em;
  font-weight: 700;
}
#firstSubjectHeaderDiv h1::after {
  content: "";
  display: block;
  border-bottom: 4px solid #d60a0b; /* You can customize the line style */
  margin-bottom: 4px; /* Adjust the spacing between text and line as needed */
  width: 2em;
}
#subjectsIndicator {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#subjectsIndicator h1 {
  font-size: 1.1em;
  font-weight: 500;
  color: #494949;
}
#subjectsIndicator #colored {
  color: #d60a0b;
}
#allSubjectsContainer {
  height: auto;
  background-color: #ffffff;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 3%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#innerAllSubjectsDiv {
  height: 5em;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}
#innerAllSubjectsDiv h1 {
  color: #090909;
  font-weight: 400;
  font-size: 1.7em;
}
#subjectInputFieldsDiv {
  height: 3em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#subjectInputField {
  width: 23em;
  height: 80%;
}
#subjectInputFieldsDiv button {
  background-color: #d60a0b;
  width: 10em;
  height: 80%;
}
#subjectsTable {
  margin-top: 5%;
}
#subjectsTable th {
  color: #d60a0b;
  font-size: 1.2em;
  font-weight: 400;
}
#addNewSubject {
  height: auto;
  margin-top: 5%;
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
#addNewSubjectHeaderDiv {
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}
#addNewSubjectHeaderDiv h1 {
  font-size: 1.7em;
  color: #000000;
  font-weight: 400;
}
#addSubjectInputFieldDiv {
  height: 5em;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
#innerAddSubjectDivs {
  height: 100%;
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
#innerAddSubjectDivs p {
  color: #000000;
}
#innerAddSubjectDivs input {
  width: 100%;
  background-color: #eeeff7;
  border: none;
}
#addSubjectButtons {
  height: 5em;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}
#addSubjectButtons button {
  width: 8em;
  margin-left: 3%;
  color: #fff;
}
#addSubjectButtons button:first-child {
  background-color: #d60a0b;
}
#addSubjectButtons button:last-child {
  background-color: #14238a;
}
#previousAndNextDiv {
  height: 3em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#innerPreviousAndNextDiv {
  width: 25%;
  height: 100%;
  margin-left: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
#innerPreviousAndNextDiv h6 {
  color: #747474;
  font-weight: 300;
}
#numberedSubjectDivs {
  width: 2.5em;
  height: 2.5em;
  border: 1px solid #d60a0b;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease;
}
#numberedSubjectDivs:hover {
  transform: scale(1.05);
}
#numberedSubjectDivs.active {
  width: 2.5em;
  height: 2.5em;
  border: 1px solid #d60a0b;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #d60a0b;
}
#numberedSubjectDivs.active h6 {
  color: #ffffff;
  font-weight: 300;
}

#numberedSubjectDivs h6 {
  color: #000000;
  font-weight: 300;
}
/*  */
/*  */
/*  */
/*  */
/* Screens lower than 1000px */
@media (max-width: 1000px) {
  #allSubjectsContainer {
    height: auto;
    background-color: #ffffff;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  #subjectInputFieldsDiv {
    height: 20em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  #subjectInputField {
    width: 100%;
    height: 4em;
  }
  #subjectInputFieldsDiv button {
    background-color: #d60a0b;
    width: 10em;
    height: 3em;
    font-size: 1.1em;
  }
  #addNewSubject {
    height: auto;
  }
  #addNewSubjectHeaderDiv {
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  #addNewSubjectHeaderDiv h1 {
    font-size: 1.7em;
    color: #000000;
    font-weight: 400;
  }
  #addSubjectInputFieldDiv {
    height: 25em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  #innerAddSubjectDivs {
    height: 20%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  #previousAndNextDiv {
    height: 5em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  #innerPreviousAndNextDiv {
    width:50%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-left: auto;
  }
}
/*  */
/*  */
/*  */
/*  */
/* Screens lower than 768px */
@media (max-width: 768px) {
  #innerAllSubjectsDiv {
    height: 5em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
